# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Prisma / Next.js
DATABASE_URL="postgresql://USER:PASSWORD@db:5432/ft_checkmate"
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://localhost

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=

GAME_SERVER_SECRET =