body {
    background-color: rgb(136, 201, 197);
    color: white;
}

h1 {
    color: #e2b96f;
}

#board {
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
}

.row {
    display: flex;
}

.cell {
    width: 60px;
    height: 60px;
}

.dark {
    background-color: #769656;
}

.light {
    background-color: #eeeed2;
}

.piece {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    margin-top: 7px;
}

.black {
    background-color: #1a1a1a;
    border: 3px solid #555;
}

.white {
    background-color: #f0f0f0;
    border: 3px solid #aaa;
}

.selected {
    background-color: yellow;
}